<div class="bg-white py-4 px-6 rounded-lg min-h-full">
  <h3
    class="font-bold text-3xl underline cursor-pointer break-words hover:text-blue-400"
  >
    <a target="_blank" [href]="repo.html_url">{{ repo.name }}</a>
  </h3>
  <div class="mt-6">
    <p class="block font-medium">{{ repo.description }}</p>
    <div class="mt-4" *ngIf="repo.topics.length > 0">
      <h4 class="font-medium">Topics</h4>
      <div class="flex gap-1 flex-wrap">
        <p
          *ngFor="let topic of repo.topics"
          class="break-words inline-block bg-[#BAE6FF] text-[#06579D] rounded-full px-4 py-1"
        >
          {{ topic }}
        </p>
      </div>
      <div class="text-gray-700 mt-4 text-sm">
        <p>
          {{ repo.stargazers_count }} stars ⋅ {{ repo.watchers_count }} watching
          ⋅ {{ repo.forks_count }} forks
        </p>
      </div>
    </div>
  </div>
</div>
