<div class="bg-white py-4 px-6 rounded-lg">
  <h3 class="font-bold text-3xl underline">AAD-Practicals</h3>
  <div class="mt-6">
    <p class="block font-medium">Repository description goes here.</p>
    <div class="mt-4">
      <h4 class="font-medium">Topics</h4>
      <div class="flex gap-1 flex-wrap">
        <p
          *ngFor="let i of [1, 2, 3, 5, 6]"
          class="inline-block bg-[#BAE6FF] text-[#06579D] rounded-full px-4 py-1"
        >
          python
        </p>
      </div>
      <div class="text-gray-700 mt-4 text-sm">
        <p>117 stars ⋅ 123 watching ⋅ 1 forks</p>
      </div>
    </div>
  </div>
</div>
