<div
  id="usercard"
  *ngIf="isLoading || user"
  class="bg-white px-8 py-6 rounded-lg break-words"
>
  <div *ngIf="isLoading">
    <ngx-skeleton-loader
      [count]="1"
      appearance="circle"
      class="block"
      [theme]="[{ width: '72px', height: '72px' }]"
    >
    </ngx-skeleton-loader>
    <ngx-skeleton-loader
      [count]="4"
      [appearance]="['', '', '', '']"
      [theme]="[
        { width: '70%' },
        { width: '50%' },
        { width: '100%' },
        { width: '60%' }
      ]"
    >
    </ngx-skeleton-loader>
  </div>

  <ng-container *ngIf="!isLoading && user">
    <div class="rounded-full overflow-hidden w-fit relative">
      <img [src]="user.avatar_url" height="72" width="72" />
    </div>
    <div class="mt-4">
      <div>
        <h2 class="text-2xl font-bold">{{ user.name }}</h2>
        <code class="text-sm text-gray-600 font-medium"
          >&#64;{{ user.login }}</code
        >
      </div>
      <p class="block max-w-[40ch] font-medium mt-4">
        {{ user.bio }}
      </p>
      <div
        class="flex gap-1 items-center mt-4"
        *ngIf="user.twitter_username !== ''"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_12_18)">
            <mask
              id="mask0_12_18"
              style="mask-type: luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="20"
              height="20"
            >
              <path d="M0 0H20V20H0V0Z" fill="white" />
            </mask>
            <g mask="url(#mask0_12_18)">
              <path
                d="M15.75 0.937141H18.8171L12.1171 8.61428L20 19.0629H13.8286L8.99143 12.7271L3.46286 19.0629H0.392857L7.55857 10.8486L0 0.93857H6.32857L10.6943 6.72857L15.75 0.937141ZM14.6714 17.2229H16.3714L5.4 2.68143H3.57714L14.6714 17.2229Z"
                fill="black"
              />
            </g>
          </g>
          <defs>
            <clipPath id="clip0_12_18">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <p>&#64;{{ user.twitter_username }}</p>
      </div>
    </div>
    <div class="text-gray-700 mt-4 text-sm">
      <p>
        {{ user.followers }} followers ⋅ {{ user.following }} following ⋅
        {{ user.location }}
      </p>
    </div>
  </ng-container>
</div>
